<!doctype html>
<html lang="en" class="no-js">
    <head>
    <meta charset="UTF-8">
        <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Take a look at my latest insights, thoughts and passions and discover what makes me tick on the thoughts blog – covering anything beyond the obvious.">
    <meta name="keywords" content="A strategic creative agency">
    <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/keep-calm">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7607292/7884772/css/fonts.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css"> <!-- Main Body Style -->
    <script src="../js/modernizr.js"></script> <!-- Modernizr -->
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <title>Robbie Nguyen - My Thoughts | Web Developer | Graphic Designer |</title>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-2700225-1', 'auto');
    ga('send', 'pageview');

    </script>
  </head>