<%- include("partials/header") -%>
       <body>
		<div class="contact-wrap">
			<div class="container-fluid topblog ">
				<header class="col-lg-12 padding">
					<div class="col-xs-6 padding"><div class="logo"><a href="../home.html"><img src="../images/logo_DarkLighter.jpg" class="responsive" alt="logo"></a></div></div>
					<div class="col-xs-6 padding">
						<main class="cd-main-content">
						<section class="center">
							<a href="arabic.html#" class="cd-btn navburger" id="modal-trigger"  data-type="cd-modal-trigger">
								<span class="menu-pos">MENU</span>
								<i class="fa fa-minus topline" aria-hidden="true"></i>
								<i class="fa fa-minus middleline" aria-hidden="true"></i>
								<i class="fa fa-minus bottomline" aria-hidden="true"></i>
							</a>
						</section>
						</main> <!-- .cd-main-content -->
						<div class="cd-modal" data-modal="modal-trigger">
							<div class="cd-svg-bg"
								data-step1="M-59.9,540.5l-0.9-1.4c-0.1-0.1,0-0.3,0.1-0.3L864.8-41c0.1-0.1,0.3,0,0.3,0.1l0.9,1.4c0.1,0.1,0,0.3-0.1,0.3L-59.5,540.6 C-59.6,540.7-59.8,540.7-59.9,540.5z"
								data-step2="M33.8,690l-188.2-300.3c-0.1-0.1,0-0.3,0.1-0.3l925.4-579.8c0.1-0.1,0.3,0,0.3,0.1L959.6,110c0.1,0.1,0,0.3-0.1,0.3 L34.1,690.1C34,690.2,33.9,690.1,33.8,690z"
								data-step3="M-465.1,287.5l-0.9-1.4c-0.1-0.1,0-0.3,0.1-0.3L459.5-294c0.1-0.1,0.3,0,0.3,0.1l0.9,1.4c0.1,0.1,0,0.3-0.1,0.3 l-925.4,579.8C-464.9,287.7-465,287.7-465.1,287.5z"
								data-step4="M-329.3,504.3l-272.5-435c-0.1-0.1,0-0.3,0.1-0.3l925.4-579.8c0.1-0.1,0.3,0,0.3,0.1l272.5,435c0.1,0.1,0,0.3-0.1,0.3 l-925.4,579.8C-329,504.5-329.2,504.5-329.3,504.3z"
								data-step5="M341.1,797.5l-0.9-1.4c-0.1-0.1,0-0.3,0.1-0.3L1265.8,216c0.1-0.1,0.3,0,0.3,0.1l0.9,1.4c0.1,0.1,0,0.3-0.1,0.3L341.5,797.6 C341.4,797.7,341.2,797.7,341.1,797.5z"
								data-step6="M476.4,1013.4L205,580.3c-0.1-0.1,0-0.3,0.1-0.3L1130.5,0.2c0.1-0.1,0.3,0,0.3,0.1l271.4,433.1c0.1,0.1,0,0.3-0.1,0.3 l-925.4,579.8C476.6,1013.6,476.5,1013.5,476.4,1013.4z">
								<svg height="100%" width="100%" preserveAspectRatio="none" viewBox="0 0 800 500">
									<title>SVG Modal background</title>
									<path id="cd-changing-path-1" d="M-59.9,540.5l-0.9-1.4c-0.1-0.1,0-0.3,0.1-0.3L864.8-41c0.1-0.1,0.3,0,0.3,0.1l0.9,1.4c0.1,0.1,0,0.3-0.1,0.3L-59.5,540.6 C-59.6,540.7-59.8,540.7-59.9,540.5z"/>
									<path id="cd-changing-path-2" d="M-465.1,287.5l-0.9-1.4c-0.1-0.1,0-0.3,0.1-0.3L459.5-294c0.1-0.1,0.3,0,0.3,0.1l0.9,1.4c0.1,0.1,0,0.3-0.1,0.3 l-925.4,579.8C-464.9,287.7-465,287.7-465.1,287.5z"/>
									<path id="cd-changing-path-3" d="M341.1,797.5l-0.9-1.4c-0.1-0.1,0-0.3,0.1-0.3L1265.8,216c0.1-0.1,0.3,0,0.3,0.1l0.9,1.4c0.1,0.1,0,0.3-0.1,0.3L341.5,797.6 C341.4,797.7,341.2,797.7,341.1,797.5z"/>
								</svg>
							</div>
							<div class="cd-modal-content">
								<ul class="navigation">
									<li class="color"><a href="../about.html" class="link anim-middleout">about</a></li>
									<li class="color"><a href="../work/index.html" class="link anim-middleout">work</a></li>
									<li class="color"><a href="../expertise.html" class="link anim-middleout">expertise</a></li>
									<li class="color"><a href="../index.html" class="link anim-middleout">thoughts</a></li>
									<li class="color"><a href="../careers.html" class="link anim-middleout">careers</a></li>
									<li class="color"><a href="../contact.html" class="link anim-middleout">contact me</a></li>
								</ul>
								<ul class="social-icons">
									<li><a href="https://twitter.com/pistachiouk" target=“_blank"
									class="social-icon"> <i class="fa fa-twitter"></i></a></li>
									<li><a href="https://www.facebook.com/pistachiodesignuk/" target=“_blank"
									class="social-icon"> <i class="fa fa-facebook"></i></a></li>
									
									<li><a href="https://www.linkedin.com/company/pistachio-design-ltd" target=“_blank"
									class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
									
								</ul>
								</div> <!-- cd-modal-content -->
								<a href="arabic.html#0" class="modal-close">Close</a>
								</div> <!-- end of-modal -->
								<div class="cd-cover-layer"></div> <!-- .cd-cover-layer -->
							</div>
						</header>
						<div class="clearfix"></div>
						<div class="textline-left">	<ul class="social-icons-new">
							<li><a href="https://twitter.com/pistachiouk" target=“_blank"
							class="social-icon-new"> <i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/pistachiodesignuk/" target=“_blank"
							class="social-icon-new"> <i class="fa fa-facebook"></i></a></li>
							
							<li><a href="https://www.linkedin.com/company/pistachio-design-ltd" target=“_blank" class="social-icon-new"> <i class="fa fa-linkedin"></i></a></li>
							
						</ul></div>
						<div class="animatedParent animateOnce textline-right"><a href="mailto:hello@pistachiodesign.com" class='animated fadeIn'>contact me</a></div>
						<div class="blogtwrapper padding ">
							<div class="blogtext col-xs-12 animatedParent animateOnce padding">
								<h1 class='animated fadeInDownShort'><%= blogTitle;%> </h1>
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid darkbg padding">
					<div class='container blogtier animatedParent animateOnce'>
						<div class="col-xs-12 bloghero animated fadeInUpShort  delay-750"><img src="../images/arabic-b.jpg" alt="bannerhero"  class="responsive" /></div>
						<section class="col-xs-12 padding">
							<div class="col-xs-12 col-sm-2 padding">
								<article class="col-xs-12 sideimage"><img src="../images/emmy-thumb.png" alt="paul thumb" class="img-responsive" />
								</article>
								<article class="col-xs-12 side padding">	<p>DAY MONTH YEAR</p> <p><b>by User Submitted</b><br>Guest Author</p><p><b>Categories</b> <br>Guest Posts</p> </article>
								<div class="clearfix"></div>
								<div class="col-xs-12 padding">
									<span class='st_twitter'></span>
									<span class='st_facebook'></span>
									<span class='st_linkedin'></span>
								</div>
							</div>
							<article class="col-xs-12 col-sm-10">
								<p><%= blogPost;%> </p>
<p><a class="bloglink" href="../">Back</a></p>
						</article>
						<div class="clearfix"></div>
						<hr class="linewhite">
					<article class="col-sm-10 col-sm-offset-1 "><h5>related stories</h5><i>there's more to explore</i> </article>
				</section>
				<div class="clearfix"></div>
				<!-- add extra container element for Masonry -->
				<div class="grid">
					<div class="grid-sizer col-sm-6 col-md-4 col-xs-12"></div>
					
					<div>
                      <div class="grid-item col-sm-6 col-md-4 col-xs-12">
                        <!-- add inner element for column content -->
                        <div class="grid-item-content animated fadeInUpShort  delay-1250">
                          <div class="item"><a href="morale-in-work.html">
                          <img src="../images/User_Submitted.jpg" alt="thumb" class="responsive" /></a></div>
                          <a href="morale-in-work.html" class="tooltip1 above">
                            <h3>workplace morale</h3><i>18th November 2016</i>
                          </a>
                          </div>
                        </div>
                        
                        <div class="grid-item col-sm-6 col-md-4 col-xs-12">
						<!-- add inner element for column content -->
						<div class="grid-item-content animated fadeInUpShort  delay-1000">
							<div class="item"><a href="buster-the-boxer.html">
							<img src="../images/User_Submitted.jpg" alt="thumb" class="responsive" /></a></div>
							<a href="buster-the-boxer.html" class="tooltip1 above">
								<h3>buster the boxer</h3><i>10th November 2016</i>
							</a>
						</div>
					</div>
                        
                    
                    <div class="grid-item col-sm-6 col-md-4 col-xs-12">
						<!-- add inner element for column content -->
						<div class="grid-item-content animated fadeInUpShort  delay-750">
							<div class="item"><a href="trump-vs-hillary.html">
							<img src="../images/User_Submitted.jpg" alt="thumb" class="responsive" /></a></div>
							<a href="trump-vs-hillary.html" class="tooltip1 above">
								<h3>polish vs brass</h3><i>3rd November 2016</i>
							</a>
						</div>
					</div>
					
                </div>

					
				</div>
			</div>
		</div>

<%-include("partials/footer") -%>

